@{
    ViewData["Title"] = "About";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ddd;
    margin-top: 20px;
    align-items:center ;
    margin: 20px;
  }
  
  img {
    width : 300px;
    height: 300px;
    padding: 10px;
  }
  
  .image {
    flex-basis: 40%;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  p{
    font-size: 20px;
  }

  .image {
    flex-basis: 100%; 
    margin-bottom: 15px; 
  }

  .text {
    padding-left: 0; 
  }
}
  
    </style>

</head>
<body>

    <div class="container1">
        <div class="image">
            <img src="~/Images/DSC_0682.jpg" alt="banner" />
        </div>
        <div class="text">
            <p>
                Name : Rohit More<br />
                Role : Backend Developer<br />
               @*  LinkedIn: <a href="https://www.linkedin.com/in/aditya-lande/" target="_blank">https://www.linkedin.com/in/aditya-lande/</a><br /> *@
                Gmail : adityalande45@gmail.com<br />
                Phone : 9325669888
            </p>
        </div>
    </div>

    <div class="container1">
        <div class="image">
            <img src="~/Images/Aditya.jpeg" alt="banner" />
        </div>
        <div class="text">
            <p>
                Name : Aditya Lande<br />
                Role : Frontend Developer<br />
                @* LinkedIn: <a href="https://www.linkedin.com/in/aditya-lande/" target="_blank">https://www.linkedin.com/in/aditya-lande/</a><br /> *@
                Gmail : adityalande45@gmail.com<br />
                Phone : 9325669888
            </p>
        </div>
    </div>

    <div class="container1">
        <div class="image">
            <img src="~/Images/Ram.jpeg" alt="banner" />
        </div>
        <div class="text">
            <p>
                Name : Ram Pachkawade<br />
                Role : Fullstack Developer<br />
               @*  LinkedIn: <a href="https://www.linkedin.com/in/aditya-lande/" target="_blank">https://www.linkedin.com/in/aditya-lande/</a><br /> *@
                Gmail : rampachkawade0101@gmail.com<br />
                Phone : 9325669888
            </p>
        </div>
    </div>


    <div class="container1">
        <div class="image">
            <img src="~/Images/Sanket.jpeg" alt="banner" />
        </div>
        <div class="text">
            <p>
                Name : Sanket Pashte<br />
                Role : DevOps<br />
               @*  LinkedIn: <a href="https://www.linkedin.com/in/aditya-lande/" target="_blank">https://www.linkedin.com/in/aditya-lande/</a><br /> *@
                Gmail : pashtesanket50@gmail.com<br />
                Phone : 9325669888
            </p>
        </div>
    </div>

    <div class="container1">
        <div class="image">
            <img src="~/Images/Gourang.jpeg" alt="banner" />
        </div>
        <div class="text">
            <p>
                Name : Gourang  <br />
                Role : Database Engineer<br />
             @*    LinkedIn: <a href="https://www.linkedin.com/in/aditya-lande/" target="_blank">https://www.linkedin.com/in/aditya-lande/</a><br /> *@
                Gmail : darware.gourang@gmail.com<br />
                Phone : 9325669888
            </p>
        </div>
    </div>

</body>
</html>
