@{
    ViewData["Title"] = "Home";
}


<!--Add Carousal here-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
    <style>
        .services {
            background-color: #fff; /* Set a background color for the services section */
        }

        .max-width {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .title {
            text-align: center;
            color: crimson;
        }

        .serv-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .card {
            width: 300px;
            margin: 20px;
            padding: 15px;
            box-shadow: 0 0 10px rgba(220, 20, 60, 1);
            text-align: center;
        }

            .card img {
                max-width: 100%;
                height: auto;
            }

        .box i {
            font-size: 48px;
            color: #3498db;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        .Footer {
            margin-top: auto;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .column {
            flex: 1;
            margin-right: 20px; /* Adjust the spacing between columns as needed */
        }

        /* Set a fixed height for the footer */
        .Footer {
            padding: 20px;
            background-color: #f8f8f8;
        }

        /* Optionally, you can add a bit of space above the footer */
        body {
            margin-bottom: 60px; /* Adjust this value as needed */
        }
    </style>
    
</head>

<body>

    <section class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Img/Img/img01.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Img/Img/img02.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Img/Img/img03.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Img/Img/img04.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Img/Img/img05.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="services" id="services">
        <div class="max-width">
            <div class="serv-content">

                <div class="card" style="box-shadow: 0 0 10px rgba(220, 20, 60, 1)">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img06.jpg">
                    </div>
                    <div class="text">
                        <h2>Serene Meadows</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 6000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img07.jpg">
                    </div>
                    <div class="text">
                        <h2>Taj</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs. 15000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img08.jpg">
                    </div>
                    <div class="text">
                        <h2>Oberoi Exclusive</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs. 8000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img09.jpg">
                    </div>
                    <div class="text">
                        <h2>Madhuram</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 4000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img010.jpg">
                    </div>
                    <div class="text">
                        <h2>Radisson</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs. 5000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img6.jpg">
                    </div>
                    <div class="text">
                        <h2>Socials</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 1000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img8.jpeg">
                    </div>
                    <div class="text">
                        <h2>J. W. Mariott</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 2000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img9.jpeg">
                    </div>
                    <div class="text">
                        <h2>Burj Khalifa</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs. 65000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img1.jpg">
                    </div>
                    <div class="text">
                        <h2>White House</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs 25000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img2.webp">
                    </div>
                    <div class="text">
                        <h2>Royal Palace</h2>
                        <p>Deluxe</p>
                        <p>Price: Rs. 20000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img3.jpeg">
                    </div>
                    <div class="text">
                        <h2>Trident</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 12000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="img"></div>
                        <img src="~/Img/Img/img4.jpeg">
                    </div>
                    <div class="text">
                        <h2>Trump Tower</h2>
                        <p>Standard</p>
                        <p>Price: Rs. 8000 per night</p>
                        <button class="btn btn-outline-primary">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="..."
            crossorigin="anonymous"></script>

</body>

</html>